/* 

Heading colour: #0f0f0f

# brand colour
color: #010151;

*/

/* Global Styles */

html, body {
  background: url('paper.jpg');
  height: 100%;
}

body {
  font-family: 'Arvo', serif;
  padding-top: 50px;
  color: black;
 /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 5px 0 10px;
}

.section-colored {
  background-color: #FF0000;
 /* change this to change the background color of a colored section */
}
h1,
h2,
h3,
.h1,
.h2,
.h3{
  color: #111;
}
a {
  color: #515181;
}  

a:hover {
  color: #010151;
}  
a:focus {
  color: #0f8f8f;
}  

.site-main-header {
    background-color: #fff;
}

.site-main-header ul {
    background-color: #fff;
}

/*
.section h2 {
    color: #000;
    padding: 2px 5px 2px 15px;
}

.section-even h2 {
    background-color: #dddddd;
}
.section-odd h2 {
    background-color: #eeeeee;
}
*/

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.carousel-caption {
  opacity:0.4;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.email-link a:hover {
  color: #dddddd;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}


/* Footer Styles */
footer {
  background: url('paper.jpg');
  margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

 /* increases the carousel height so it looks good on phones */
  .carousel {
    height: 70%;
  }
}


/* Original Mezzanine nav and tree menu */
.alert {
  padding: 5px 10px;
}
.alert-dismissable .close {
  right: 0;
}
ul, ol {
  padding-left:20px;
}
.tree {
  padding: 5px 0;
}
.tree ul a {
  padding: 7px 15px;
}

.navbar-default {
  background: url('paper.jpg');
  background-color: #fff;
}

.navbar-default .navbar-brand {
  font-family: 'Nixie One', cursive;
  color: #111;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #333;
}
.navbar-default .navbar-nav > li > a {
  color: #111;
      text-decoration: underline;
    -moz-text-decoration-color: #eeddd6;
    text-decoration-color: #eeddd6;
    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  text-decoration: underline;
  -moz-text-decoration-color: #add4da;
  text-decoration-color: #add4da;
}
.navbar-default .navbar-nav > .active > a {
    color: #000;
    background-color: #eeddd6;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #eeddd6;
  text-decoration: underline;
  -moz-text-decoration-color: #add4da;
  text-decoration-color: #add4da;
}


.navlist-menu-level-0 {
  margin:-5px 0;
}
.navbar-text {
  font-style: italic;
  font-size: 11px;
  color: #515181 !important;;
  line-height: 100%;
  padding-top: 5px;
  margin:15px 20px 0 5px;
}
.navbar-form.navbar-right {
  padding-right: 0;
  margin-right: -10px;
}
.navbar-form.navbar-right .form-group {
  margin-right: 2px;
}

.navbar-brand {
  font-weight: bold; 
  font-size: 24px;
  line-height: 20px;
}

@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 18px;
    line-height: 16px;
  }
  h1, .h1 {
    font-size: 24px;
    line-height: 50px;
  }
  h2, .h2 {
    font-size: 22px;
    line-height: 50px;
  }

}

.messages {
  margin-top: 20px;
}
.tree > .nav .nav > li {
  padding-left: 15px;
}
.tree .active > a {
  background-color: #EEEEEE;
}
.tree .active-branch > a {
  font-weight: bold;
}
.nav-footer {
  display: table;
  margin: 0 auto;
}
.nav-footer > img {
  margin-right: 20px;
}

.nav-footer > ul {
  display: inline-block;
  /*width: 150px;*/
  margin-left: 30px;
  vertical-align: top;
}
.nav-footer > ul > li {
  padding: 6px 0;
}


footer {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding: 15px 0 30px;
}
footer .separator {
  opacity: 0.3;
  margin: 0 10px;
}

.statement {
    padding-right: 15px;
    padding-left: 15px;
}
.statement-image-left {
    float: left !important;
    padding: 15px 15px 15px 15px;
}
.statement-image-right {
    float: right !important;
    margin: 25px 15px 15px 15px;
}

/*
.container-heading-house {
  background: url('heading-house.png') no-repeat 0px 15px,url('heading-line.png') no-repeat 41px 57px;
}
.container-heading-detail {
  background: url('heading-detail.png') no-repeat 0px 15px,url('heading-line.png') no-repeat 41px 57px;
}
*/


.container p, h1, h2, h3, h4, h5, h6, form, .details-features {
  padding-left: 50px;
}
.container ul {
    margin-left: 50px;
}

.container h2, 
           h3, 
           h4, 
           .h2, 
           .h3, 
           .h4 {
  background: url('heading-line.png') no-repeat 50px bottom;
}

@media (max-width: 400px) {
    .container p, table, form, .details-features {
        padding-left: 5px;
    }
    .container h2, 
           h3, 
           h4, 
           .h2, 
           .h3, 
           .h4 {
      background: url('heading-line.png') no-repeat 5px bottom;
      padding-left: 5px;
    }
    .container ul {
        margin-left: 5px;
    }
}

.container h1 {
  background: url('heading-house.png') no-repeat 0px bottom,url('heading-line.png') no-repeat 35px bottom;
}

.container .sail {
  background: url('heading-boat.png') no-repeat 0px bottom,url('heading-line-yellow.png') no-repeat 35px bottom;
}
.container .pricelist {
  background: url('heading-price.png') no-repeat 0px bottom,url('heading-line-price.png') no-repeat 35px bottom;
}





.row {
  padding-left: 5px;
  margin-right: 5px;
}

.badge {  
    background-color: #add4da;  
    color: #fff;  
    font-size: 14px;  
}  
    
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}*/

.img-item-list {
  height: 80px;
}

.iil-anchor {
  background: url('../img/thingstodo/anchor.png') no-repeat left top;
}
.iil-beachfishing {
  background: url('../img/thingstodo/beachfishing.png') no-repeat left top;
}
.iil-cinema {
  background: url('../img/thingstodo/cinema.png') no-repeat left top;
}
.iil-crab {
  background: url('../img/thingstodo/crab.png') no-repeat left top;
}
.iil-crazygolf {
  background: url('../img/thingstodo/crazygolf.png') no-repeat left top;
}
.iil-fossil {
  background: url('../img/thingstodo/fossil.png') no-repeat left top;
}
.iil-garden {
  background: url('../img/thingstodo/garden.png') no-repeat left top;
}
.iil-hiking {
  background: url('../img/thingstodo/hiking.png') no-repeat left top;
}
.iil-mackeral {
  background: url('../img/thingstodo/mackeral.png') no-repeat left top;
}
.iil-marine {
  background: url('../img/thingstodo/marine.png') no-repeat left top;
}
.iil-mill {
  background: url('../img/thingstodo/mill.png') no-repeat left top;
}
.iil-museum {
  background: url('../img/thingstodo/museum.png') no-repeat left top;
}
.iil-theatre {
  background: url('../img/thingstodo/theatre.png') no-repeat left top;
}
.iil-workshop {
  background: url('../img/thingstodo/workshop.png') no-repeat left top;
}

.img-item-list p {
  padding-left: 50px;
}


.pricelist-table {
  width: 50%;  
  border-bottom: 15px solid #ffb3b3;
}

@media (max-width: 560px) {
  .pricelist-table {
    width: 100%;  
  }
}

.pricelist-table tr {
  vertical-align: bottom;
  border-bottom: 5px solid #ffb3b3;
  text-align: center;
}

.pricelist-table .date-cell {
  padding: 5px 10px 5px 10px;
}
.pricelist-table .price-cell {
  padding: 5px 10px 5px 10px;
  background-color: #d29898;
}

/* full calendar */
.fc-day {
  background-color: #deffd6;
}
.fc-bgevent {
    opacity: 1.0;
}
/* booking legend */
.booking-legend td {
    padding: 15px 15px 15px 15px;
}

.facilities-imgs {
    padding-left: 50px;
}

.facilities-imgs img {
  padding: 3px 2px 3px 1px;
  border: 2px solid #ffb3b3;
}

@media (max-width: 400px) {
  .facilities-imgs {
    padding-left: 5px;
  }
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}


/* contact form */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}

#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#ffb3b3;
    background-image:linear-gradient(bottom, #d29898 0%, #ffb3b3 52%);
    background-image:-moz-linear-gradient(bottom, #d29898 0%, #ffb3b3 52%);
    background-image:-webkit-linear-gradient(bottom, #d29898 0%, #ffb3b3 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

