{% extends "base.html" %}
{% load versioned_static staticfiles mezzanine_tags keyword_tags %}


{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block extra_css %}
<link href="/static/v1/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/static/v1/css/fullcalendar.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
<script src="/static/v1/js/jquery-ui.min.js"></script>
<script src="/static/v1/js/jquery.cookie.js"></script>
<script src="/static/v1/js/moment.min.js"></script>
<script src="/static/v1/js/fullcalendar.js"></script>
<script src="/static/v1/js/lang-all.js"></script>

<script>
{% if user.is_staff %}

var bookings = {
  mkdata: function(data) {
    var r = JSON.stringify(data, function (key, value) {
      return value;
    });
    var s = "csrfmiddlewaretoken="+$.cookie('csrftoken')+"&_content_type=application%2Fjson&_content=";
    return s + encodeURIComponent(r);
  },
  upload: function(data) {
    dat = bookings.mkdata(data);
    $.ajax({
      url: "/api/bc/admin/",
      type: "POST",
      data: dat,
      success: function() {

        $('#eventInfoErros').append('<p>Success</p>');
        var caldata = {
          title: data['name'] + " : " + data['email'],
          editable: false,
          start: data['start'],
          end: data['end']
        };
        $('#calendar').fullCalendar('renderEvent', caldata, true);
        $('#calendar').fullCalendar('unselect');
        $('#eventInfoModal').modal('hide');
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("ERROR:"+textStatus+" err:"+errorThrown);
        $('#eventInfoErrors').append('<p>Failed</p>');
      }
    });
  }
}


$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
    },
    aspectRatio: 2.0,
    eventLimit: false,
    editable: true,
    selectable: true,
    selectHelper: false,
    select: function(start, end) {
      $("#startDateInput").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#endDateInput").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#startDateInput").datepicker( "setDate", start.format("YYYY-MM-DD"));
      $("#endDateInput").datepicker( "setDate", end.format("YYYY-MM-DD"));
      $("#nameInput").val('');
      $("#emailInput").val('');
      $("#telInput").val('');
      $("#infoInput").val('');
      $('[name=statusInput] option').filter(function() { 
        return ($(this).text() == 'Booked');
      }).prop('selected', true); 

      $("#eventInfoButton").off('click');
      $("#eventInfoButton").click(function() {
        console.log("CLICK");      
        /* validate the form */
        var s = moment( $("#startDateInput").datepicker("getDate") ).format("YYYY-MM-DD");
        var e = moment( $("#endDateInput").datepicker("getDate") ).format("YYYY-MM-DD");
        var n = $("#nameInput").val();
        var email = $("#emailInput").val();
        var tel = $("#telInput").val();
        var info = $("#infoInput").val();
        var status = $("#statusInput").val();
      
        $('.error').hide();
        if (s == "") {
          $("label#startdate_error").show();
          $("input#startDateInput").focus();
          return false;
        }
        if (e == "") {
          $("label#enddate_error").show();
          $("input#endDateInput").focus();
          return false;
        }
        if (n == "") {
          $("label#name_error").show();
          $("input#nameInput").focus();
          return false;
        }
        if (email == "") {
          $("label#email_error").show();
          $("input#emailInput").focus();
          return false;
        }
        if (tel == "") {
          $("label#tel_error").show();
          $("input#telInput").focus();
          return false;
        }

        var data = {
          start: s,
          end: e,
          name: n,
          email: email,
          tel: tel,
          info: info,
          status: status
        };
        bookings.upload(data);
        return false;
      });
      $('.error').hide();
      $("#eventInfoModal").modal('show');
    },
    eventClick: function(event) {
      $("#startDateInput").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#endDateInput").datepicker({
        dateFormat: "yy-mm-dd"
      });
      $("#startDateInput").datepicker( "setDate", event.start.format("YYYY-MM-DD"));
      $("#endDateInput").datepicker( "setDate", event.end.format("YYYY-MM-DD"));
      $("#nameInput").val(event.name);
      $("#emailInput").val(event.email);
      $("#telInput").val(event.tel);
      $("#infoInput").val(event.info);
      $('[name=statusInput] option').filter(function() { 
        return ($(this).text() == event.status);
      }).prop('selected', true); 

      $("#eventInfoModal").data('event_id', event.id);
      $("#eventInfoModal").modal('show');
    },
    eventSources: [
    {
      url: '/api/bc/admin/',
    }
    ]
  });
});

{% else %}

$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
    },
    aspectRatio: 2.0,
    editable: false,
    eventLimit: false,
    eventSources: [
    {
      url: '/api/bc/feed/',
      rendering: 'background'
    }
    ]
  });
});

{% endif %}
</script>
{% endblock %}


{% block content %}
                {% if user.is_staff %}
                    <!-- Modal HTML -->
                    <div id="eventInfoModal" class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Booking Info</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <ul>
                                    <li>
                                    <label for="startDateInput">Start Date</label>
                                    <input type="text" name="startdate" id="startDateInput" />
                                    <label class="error" for="startDateInput" id="startdate_error">This field is required.</label>
                                    </li>
                                    <li>
                                    <label for="endDateInput">End Date</label>
                                    <input type="text" name="enddate" id="endDateInput" />
                                    <label class="error" for="endDateInput" id="enddate_error">This field is required.</label>
                                    </li>
                                    <li>
                                    <label for="nameInput">Name</label>
                                    <input type="text" name="name" id="nameInput" />
                                    <label class="error" for="nameInput" id="name_error">This field is required.</label>
                                    </li>
                                    <li>
                                    <label for="emailInput">Email</label>
                                    <input type="text" name="email" id="emailInput" />
                                    <label class="error" for="emailInput" id="email_error">This field is required.</label>
                                    </li>
                                    <li>
                                    <label for="telInput">Tel</label>
                                    <input type="text" name="tel" id="telInput" />
                                    <label class="error" for="telInput" id="tel_error">This field is required.</label>
                                    </li>
                                    <li>
                                    <label for="infoInput">Info</label>
                                    <textarea name="info" id="infoInput" cols="40" rows="6"></textarea>
                                    </li>
                                    <li>
                                    <select name="statusInput" id="statusInput">
                                        <option value="Available">Available</option>
                                        <option value="Booked">Booked</option>
                                        <option value="Reserved">Reserved</option>
                                    </select>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div id="eventInfoErrors"></div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button id="eventInfoButton" type="button" class="btn btn-primary">Update</button>
                        </div>
                      </div>
                    </div>
                    </div>
                {% endif %}

    <div class="section"> 
        <div class="container container-heading-house">
          <div class="row"> 
            <h1>Availablility</h1>

            <div id='calendar'></div>

            <table class="booking-legend">
                <tr>
                    <td style="background-color:#deffd6;">Available</td>
                    <td style="background-color:#d29898;">Booked</td>
                    <td style="background-color:#b9beff;">Reserved</td>
                </tr>
            </table>

            <h1 class="pricelist">Weekly Pricing 
                {% if user.is_staff %}
                    <!-- Modal HTML -->
                    <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          <p>Do you want to save changes you made to document before closing?</p>
                          <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  <span class="badge"><a href="#" class="staff-add-price">+</a></span>


                  <script type="text/javascript">
                    $(document).ready(function(){
                      $(".staff-add-price").click(function(){
                        $("#myModal").modal('show');
                      });
                    });
                  </script>

                {% endif %}
            </h1>
            <table class="pricelist-table">
            {% for p in prices %}
              <tr><td class="date-cell">{{ p.start }} - {{p.end }}</td><td class="price-cell">&pound;{{ p.price }}</td><tr>
            {% endfor %}
            </table>

            <div class="pagination">
            <span class="step-links">
              {% if prices.has_previous %}
              <a href="?page={{ prices.previous_page_number }}" title="Earlier booking prices">&laquo;&nbsp;Earlier</a>&nbsp;
              {% endif %}

              {% if prices.has_next %}
                &nbsp;<a href="?page={{ prices.next_page_number }}" title="Later booking prices">Next&nbsp;&raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
      </div>
    </div>

{% endblock %}

