{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags %}

{% block content %}
    <div class="section"> 
        <div class="container">
          <div class="row"> 

            <h1>{% trans "Contact Form" %}</h1>
            <p>Please fill in the form below to book the cottage or for any other enquiries. Alternatively you can call Carol on <a href="tel:{{ settings.ADDRESS_MOBILE_NUMBER }}">{{ settings.ADDRESS_MOBILE_NUMBER }}</a> or <a href="tel:{{ settings.ADDRESS_OTHER_NUMBER }}">{{ settings.ADDRESS_OTHER_NUMBER }}</a></p>
            <form id="contact-form" action="" method="post">{% csrf_token %}
              <div>
                  <label for="id_name">
                      <span>Name:</span>
                      <input id="id_name" maxlength="100" name="name" placeholder="Your name (required)" type="text" tabindex="1" required autofocus>
                  </label>
              </div>
              <div>
                  <label for="id_email">
                      <span>Email:</span>
                      <input id="id_email" maxlength="200" name="email" placeholder="Email address (required)" type="email" tabindex="2" required>
                  </label>
              </div>
              <div>
                  <label>
                      <span>Your Message:</span>
                      <textarea id="id_body" name="body" rows="10" placeholder="Enter your message (required)" tabindex="3" required></textarea>
                  </label>
              </div>
              <div>
                  <button name="submit" type="submit" id="contact-submit">Send Email</button>
              </div>
            </form>

        </div>
      </div>
    </div>
      {% endblock %}

